body {
  padding: 0;
}

footer,
header,
main {
  padding: 0;
}

hr {
  margin: 0;
}

nav {
  margin-bottom: 0;
}

section aside h3 {
  margin: 0;
}

h3 a {
  color: black;
}

input[type=submit] {
  cursor: pointer;
  background-color: #1760ff;
  color: #fff;
}

a.edit-button b,
a.delete-button b,
form button {
  padding: .5rem 1rem;
  margin: 0;
}

#message {
  display: none;
  background: black;
  color: white;
  border-radius: var(--border-radius);
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 1rem;
}

a.show-post-link {
  color: black;
  font-weight: normal;
}

a.delete-button b {
  background: #cf3030;
  border-color: #cf3030;
  float: right;
}
