@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  padding: 0;
}

footer,
header,
main {
  padding: 0;
  background-color: #ffffff;
}

body>header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  border-bottom: 1px solid gray;
}
hr {
  margin: 1px 0;
}

nav {
  margin-bottom: 0;
}

main {
  margin-top: 66px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

main aside {
  display: block;
  flex-basis: 35%;
  margin: 0;
  border: 1px solid white;
  padding: 0px;
}

main aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main aside ul li {
  margin: 0;
  padding: 0;
  border: 0;
}

main section {
  display: block;
  flex-basis: 65%;
}

main section article {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  /* width: var(--width-card); */
}

main section article header {
  text-align: left;
  margin-bottom: 10px;
}

main section article:hover {
  box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

section article h3 {
  margin: 0;
}

a {
  color: var(--color);
}

h3 a {
  color: black;
}

a b, a strong, button {
  padding: .4rem .8rem;
  margin: 0;
}

main aside ul li a b {
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  width: 100%;
  margin: 16px 0;
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: var(--color);
}

main aside ul li a b:hover {
  cursor: pointer;
  /* border-color: #ccc; */
  box-shadow: var(--box-shadow) #b8b8b8;
}

main section form {
  margin: 16px;
}

input.full-width,
textarea.full-width {
  box-sizing: border-box;
  width: 100%;
}

#title {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-weight: 800;
}

#message {
  display: none;
  background: black;
  color: white;
  border-radius: var(--border-radius);
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 1rem;
}

a.show-post-link {
  color: black;
  font-weight: normal;
}

a.edit-button b {
  margin-right: 0;
}

a.edit-button b span {
  display: none;
  transition: width 2s;
}

a.edit-button:hover b span {
  display: inline;
}

button.delete-button,
a.delete-button b {
  background: #cf3030;
  border-color: #cf3030;
}

.side-by-side {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  border:0;
}

.right {
  text-align: right;
}

article.nested-post {
  margin-left: 120px;
}

img.profile-pic-sm {
  border: 1px solid white;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
}

img.profile-pic-md {
  border: 1px solid white;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

a b.reverse, a strong.reverse, button.reverse {
  background-color: var(--color-bg);
  color: var(--color);
}

i.flaticon,
i.flaticon::before,
i.flaticon::after {
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

article .post-interaction {
  margin-top: 10px;
  display: flex;
}

article .post-interaction div {
  flex: 1;
}

.like-green {
  color: #4ebf4e;
}
.dislike-red {
  color: #d64545;
}
.untouched-gray {
  color: #bbb;
}

article .post-interaction .flaticon {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.post-interaction div i {
  cursor: pointer;
}

.reaction-panel {
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  left: -22px !important;
}
.reaction-panel-container {
  padding: 3px 7px;
}

.reaction-panel-container i {
  cursor: pointer;
}
